:root {
  --brand-color: #212121;
  --secondary-color: #757575;
  --brand-bg-color: #2f303a;
  --secondary-bg-color: #ffffff;
  --accent-color: #2196f3;
  --footer-contact-item: rgba(255, 255, 255, 0.6);
  --bg-color-btn-filter: #f5f4fa;
  --color-logo: #000000;
  --btn-service-hover: #188ce8;
  /* --border-cads: 1px solid #eeeeee; */
}

/* common */

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  background-color: var(--secondary-bg-color);
}

/* service */

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* navigation */

.nav {
  background-color: var(--secondary-bg-color);
  /* display: flex; */
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-logo);
}

.logo > span {
  color: var(--accent-color);
}

.nav-link-item,
.contact-item {
  font-weight: 500;
  line-height: 1.41;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.contact-item {
  color: var(--secondary-color);
}

/* hero */

.hero {
  background-color: var(--brand-bg-color);
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-bg-color);
}

.btn-servise {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-bg-color);
  background: var(--accent-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.btn-servise:hover,
.btn-servise:focus {
  background: var(--btn-service-hover);
  transition: 300ms;
}

/* advantages */

.advantages-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages p {
  line-height: 1.71;
  color: var(--secondary-color);
}

/* work */

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* team */

.team {
  background-color: var(--bg-color-btn-filter);
}

.team-list-item {
  background-color: var(--secondary-bg-color);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-list-item > p {
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-color);
}

/* filter */

.btn-filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  background-color: var(--bg-color-btn-filter);
  cursor: pointer;
}

.cads-list-item > h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--brand-color);
}

.cads-list-item > p {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--secondary-color);
}

/* footer */

.footer {
  background-color: var(--brand-bg-color);
  color: var(--secondary-bg-color);
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--secondary-bg-color);
}

.footer-logo > span {
  color: var(--accent-color);
}

.footer-contact {
  line-height: 1.71;
  font-style: normal;
}

.footer-contact-link {
  line-height: 1.71;

  color: var(--secondary-bg-color);
}

.footer-contact-item {
  line-height: 1.71;

  color: var(--footer-contact-item);
}

/* effects */

.nav-link-item:hover,
.contact-item:hover,
.nav-link-item:focus,
.contact-item:focus,
.footer-contact-link:hover,
.footer-contact-link:focus,
.footer-contact-item:hover,
.footer-contact-item:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--secondary-bg-color);
}

.current {
  color: var(--accent-color);
}
